// media queries //
// resolution //


@media (max-width: 800px) {
    #footer {
        #footer_bar {
            width: 92%;
            margin-bottom: 50px;
        }
        #footer_elements_container {
            #footer_logo {
                font-size: 40px;
                line-height: 49px;
            }
            #footer_copyright_text {
                font-size: 20px;
                line-height: 25px;
            }
            #footer_b2t {
                width: 20px;
                height: 20px;

            }
        }
    }
}

@media (max-width: 600px) {
    #footer {
        #footer_bar {
            width: 92%;
            margin-bottom: 40px;
        }
        #footer_elements_container {
            display: none;
            #footer_logo {
                font-size: 40px;
                line-height: 49px;
            }
            #footer_copyright_text {
                font-size: 20px;
                line-height: 25px;
            }
            #footer_b2t {
                width: 20px;
                height: 20px;

            }
        }
        #footer_elements_container_small {
            display: flex;
            margin-bottom: 40px;
            #footer_logo_container_small {
                #footer_logo_small {
                    font-size: 32px;
                    line-height: 39px;
                }
                #footer_copyright_text_small {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            #footer_b2t_small {
                width: 20px;
                height: 20px;
            }
        }
        #imprint_overlay {
            #imprint_overlay_content_container {
                padding: 5px !important;
                #imprint_overlay_close_container {
                    h2 {
                        font-size: 26px !important;
                    }
                    #imprint_overlay_close_btn {
                        width: 25px !important;
                        height: 25px !important;
                        padding: 3px !important;
                    }
                }
                #imprint_overlay_content_text_container {
                    padding: 0px 10px !important;
                }
            }
        }
    }
}