// media queries //
// resolution //

@media (max-width: 1000px) {
    #certificates {
        height: 100vh;
        #certificates_skill_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            #certificates_skills_desctext_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80%;
                #certificates_header {
                    font-size: 48px;
                    line-height: 58px;
                    margin: 0px 0px 6px 0px;
                }
                #certificates_header_bar {
                    width: 100%;
                    margin-bottom: 20px;
                }
                #certificates_skills_desctext {
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0px 0px 50px 0px;
                }
            }
            #certificates_skills_container {
                #certificates_skills_block {
                    #certificates_skills_header {
                        font-size: 20px;
                        line-height: 30px;
                        padding: 0px 15px;
                    }
                    #certificates_skills_grid {
                        gap: 30px;
                        padding: 50px;
                        .certificates_skills_item {
                            width: 133px;
                            height: 136px;
                            .certificates_skills_icon {
                                height: 62px;
                                width: 62px;
                                margin-bottom: 10px;
                            }
                            .certificates_skills_name {
                                font-size: 16px;
                                line-height: 24px;
                            }
                            }
                    }
                }
            }
        }
        #certificates_cert_block {
            width: 89%;
            margin-bottom: 40px;
            #certificates_cert_block_header {
                font-size: 20px;
                line-height: 30px;
                padding: 0px 15px;
            }
            #certificates_cert_container {
                width: 100%;
                #certificates_cert_line {
                    gap: 50px;
                    padding: 25px 0px;
                    .certificates_cert_img {
                        width: 190px;
                        height: 170px;
                        .certificates_cert_icon {
                            width: 62px;
                            height: 62px;
                            margin-bottom: 10px;
                        }
                        .certificates_cert_name {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        #certificates_bottom_bar_container1 {
            width: 100%;
            margin-bottom: 10px;
            #certificates_bottom_bar_empty1 {
                height: 3px;
                width: 70%;
            }
            #certificates_bottom_bar1 {
                height: 3px;
                width: 30%;
            }
        }
        #certificates_bottom_bar_container2 {
            width: 100%;
            #certificates_bottom_bar_empty2 {
                height: 3px;
                width: 68%;
            }
            #certificates_bottom_bar2 {
                height: 3px;
                width: 32%;
            }
        }
    }
}

@media (max-width: 650px) {
    #certificates {
        height: 100vh;
        #certificates_skill_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            #certificates_skills_desctext_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80%;
                #certificates_header {
                    font-size: 32px;
                    line-height: 39px;
                    margin: 0px 0px 6px 0px;
                }
                #certificates_header_bar {
                    width: 100%;
                    margin-bottom: 20px;
                }
                #certificates_skills_desctext {
                    font-size: 16px;
                    line-height: 19px;
                    margin: 0px 0px 50px 0px;
                }
            }
            #certificates_skills_container {
                #certificates_skills_block {
                    #certificates_skills_header {
                        font-size: 20px;
                        line-height: 30px;
                        padding: 0px 15px;
                    }
                    #certificates_skills_grid {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 15px;
                        padding: 50px;
                        .certificates_skills_item {
                            width: 102px;
                            height: 102px;
                            .certificates_skills_icon {
                                height: 47px;
                                width: 47px;
                                margin-bottom: 10px;
                            }
                            .certificates_skills_name {
                                font-size: 15px;
                                line-height: 18px;
                            }
                            }
                    }
                }
            }
        }
        #certificates_cert_block {
            width: 80%;
            margin-bottom: 40px;
            #certificates_cert_block_header {
                font-size: 20px;
                line-height: 30px;
                padding: 0px 15px;
                transform: translateY(-330%);
            }
            #certificates_cert_container {
                width: 100%;
                #certificates_cert_line {
                    gap: 15px;
                    padding: 25px 0px;
                    .certificates_cert_img {
                        width: 160px;
                        height: 140px;
                        .certificates_cert_icon {
                            width: 47px;
                            height: 47px;
                            margin-bottom: 10px;
                        }
                        .certificates_cert_name {
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        #certificates_bottom_bar_container1 {
            display: none;
            width: 100%;
            margin-bottom: 10px;
            #certificates_bottom_bar_empty1 {
                height: 3px;
                width: 70%;
            }
            #certificates_bottom_bar1 {
                height: 3px;
                width: 30%;
            }
        }
        #certificates_bottom_bar_container2 {
            display: none;
            width: 100%;
            #certificates_bottom_bar_empty2 {
                height: 3px;
                width: 68%;
            }
            #certificates_bottom_bar2 {
                height: 3px;
                width: 32%;
            }
        }
    }
}

@media (max-width: 500px) {
    #certificates {
        height: auto;
        #certificates_skill_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            margin-top: 40px;
            #certificates_skills_desctext_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80%;
                #certificates_header {
                    font-size: 32px;
                    line-height: 39px;
                    margin: 0px 0px 6px 0px;
                }
                #certificates_header_bar {
                    width: 100%;
                    margin-bottom: 20px;
                }
                #certificates_skills_desctext {
                    font-size: 16px;
                    line-height: 19px;
                    margin: 0px 0px 50px 0px;
                }
            }
            #certificates_skills_container {
                #certificates_skills_block {
                    #certificates_skills_header {
                        font-size: 20px;
                        line-height: 30px;
                        padding: 0px 15px;
                    }
                    #certificates_skills_grid {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 15px;
                        padding: 50px;
                        .certificates_skills_item {
                            width: 102px;
                            height: 102px;
                            .certificates_skills_icon {
                                height: 47px;
                                width: 47px;
                                margin-bottom: 10px;
                            }
                            .certificates_skills_name {
                                font-size: 15px;
                                line-height: 18px;
                            }
                            }
                    }
                }
            }
        }
        #certificates_cert_block {
            width: 80%;
            margin-bottom: 40px;
            #certificates_cert_block_header {
                font-size: 20px;
                line-height: 30px;
                padding: 0px 15px;
                transform: translateY(-300%);
            }
            #certificates_cert_container {
                width: 100%;
                #certificates_cert_line {
                    gap: 15px;
                    padding: 25px 15px;
                    .certificates_cert_img {
                        width: 140px;
                        height: 120px;
                        .certificates_cert_icon {
                            width: 47px;
                            height: 47px;
                            margin-bottom: 10px;
                        }
                        .certificates_cert_name {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        #certificates_bottom_bar_container1 {
            display: none;
            width: 100%;
            margin-bottom: 10px;
            #certificates_bottom_bar_empty1 {
                height: 3px;
                width: 70%;
            }
            #certificates_bottom_bar1 {
                height: 3px;
                width: 30%;
            }
        }
        #certificates_bottom_bar_container2 {
            display: none;
            width: 100%;
            #certificates_bottom_bar_empty2 {
                height: 3px;
                width: 68%;
            }
            #certificates_bottom_bar2 {
                height: 3px;
                width: 32%;
            }
        }
    }
}