section {
    height: 85vh;
    background-color: @backgroundcolordark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    #hero_content {
        display: flex;
        flex-direction: row;
        gap: 70px;
        margin-bottom: 75px;
        #hero_img {
            height: 520px;
            width: 500px;
            border: 12px solid @accentcolorgreen;
            border-radius: 360px;
            margin-left: 70px;
        }
        #hero_block {
            display: flex;
            flex-direction: column;
            #hero_text_block {
                display: flex;
                flex-direction: column;
                margin-right: 70px;
                h2 {
                    color: @textcolorwhite;
                    padding: 0px;
                    margin: 50px 0px 0px 0px;
                    font-size: 48px;
                    font-family: 'Inter';
                    font-weight: bold;
                }
                #subheader {
                    color: @accentcolorgreen;
                    padding: 0px;
                    margin: 0px 0px 35px 0px;
                    font-size: 48px;
                    font-family: 'Inter';
                    font-weight: bold;
                }
                p {
                    color: @textcolorwhite;
                    padding: 0px 15px 0px 0px;
                    margin: 0px 0px 70px 0px;
                    font-size: 20px;
                    font-family: 'Inter';
                    font-weight: normal;
                    color: rgb(220 220 220);
                    line-height: 1.4;
                    word-spacing: 2px;
                }
            }
            #link_container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 60px;
                #link_icon_box {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    background-color: @backgroundcolorbright;
                    border-radius: 12px;
                    padding: 8px 20px 8px 20px;
                    .link_icon {
                        height: 50px;
                        width: 50px;
                        filter: brightness(0) saturate(100%) invert(85%) sepia(10%) saturate(1472%) hue-rotate(341deg) brightness(105%) contrast(103%);
                        cursor: pointer;
                    }
                }
                #link_icon_bar {
                    height: 3px;
                    width: 100%;
                    background-color: @backgroundcolorbright;
                }
            }
        }
    }
    #hero_down_arrow {
        height: 70px;
        width: 80px;
        filter: brightness(0) saturate(100%) invert(60%) sepia(15%) saturate(1795%) hue-rotate(131deg) brightness(92%) contrast(102%);
        margin-bottom: 75px;
        cursor: pointer;
    }
}