header {
    height: 15vh;
    width: 100%;
    background-color: @backgroundcolordark;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    #logo {
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        margin-left: 35px;
        letter-spacing: 3px;
        filter: brightness(0) saturate(100%) invert(60%) sepia(15%) saturate(1795%) hue-rotate(131deg) brightness(92%) contrast(102%);
    }
    #menu {
        margin: 0px 50px 0px 0px;
        padding: 0px;
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;
            list-style: none;
            li {  
                .menu_box {
                    display: flex;
                    justify-content: center;
                    width: 110%;
                    border-bottom: 3px solid @backgroundcolordark;
                    #header_lang_icon {
                        height: 40px;
                        width: 40px;
                    }
                }
                a {
                    color: @textcolorwhite;
                    text-decoration: none;
                    font-size: 22px;
                    text-align: center;
                    font-weight: medium;
                }
                .menu_box:hover {
                    border-bottom: 3px solid @accentcolorgreen;
                }
            }
        }
    }
    #burgermenu {
        display: none;
        width: auto;
        margin-right: 15px;
        cursor: pointer;
        #header_burger_icon {
            width: 40px;
            height: 40px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(37deg) brightness(102%) contrast(104%);
        }
    }
}